@import "/src/general/styles";

.square-button {
  box-shadow: 0 5px $color-shadow-soft;
  border: none;
  border-radius: 8px;
  background-color: $color-brand-soft;
  width: 100px;
  height: 100px;

  &:not(:disabled):hover {
    opacity: 0.9;
    cursor: pointer;
  }

  &:not(:disabled):active {
    transform: translateY(5px);
    box-shadow: none;
  }
}
