@import "./colors/colors";
@import "./fonts/fonts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: $color-brand-primary;
  font-family: $main-font;
}

.icon {
  background-color: transparent;
  font-size: 3rem;
}

.player-x {
  color: $color-brand-secondary;
}

.player-o {
  color: $color-brand-ternary;
}

.background-primary {
  background-color: $color-brand-primary;
}

.background-secondary {
  background-color: $color-brand-secondary;
}

.background-ternary {
  background-color: $color-brand-ternary;
}

.background-quaternary {
  background-color: $color-brand-quaternary;
}

.color-primary {
  color: $color-brand-primary;
}

.color-secondary {
  color: $color-brand-secondary;
}

.color-ternary {
  color: $color-brand-ternary;
}

.color-quaternary {
  color: $color-brand-quaternary;
}

.button {
  border: none;

  &:not(:disabled):hover {
    opacity: 0.7;
    cursor: pointer;
  }
}
