$color-brand-primary: #1a2b33;
$color-brand-secondary: #34c0bb;
$color-brand-ternary: #f1af3d;
$color-brand-quaternary: #a9bec9;

$color-shadow-primary: #0b131a;
$color-shadow-secondary: #1b8987;
$color-shadow-ternary: #cb8a14;
$color-shadow-quaternary: #6a848f;

$color-text-primary: #a9bec9;
$color-text-secondary: #6a848f;

$color-button-primary: #1e3640;
$color-button-sh-primary: #12222a;
$color-button-secondary: #a9bec9;
$color-button-sh-secondary: #6a848f;
$color-button-ternary: #f1af3d;
$color-button-sh-ternary: #cb8a14;

$temporal: #203444;
